.CountryDetails{
    /* border: 3px solid; */
    width: 90%;
    margin: 7% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.backButton{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    border-radius: 5px;
    padding: 0.5% 2%;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
    margin-bottom: 5%;
}
.backButton:hover{
    background-color: rgb(136, 124, 124)
}
.backButton p{
    margin-left: 10px;
}

.Details{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid; */
}
.flag{
    width: 50%;
    /* border: 3px solid; */
    padding: 0;
    margin: 0;
}
.flag img{
    height: 390px;
    width: 600px;
}

.NameDetails{
    /* border: 3px solid; */
    width: 40%;
}
.Countryname{
    margin-top: 5%;
}
.DetailsInfo{
    display: flex;
    margin: 3% 0;
    justify-content: space-between;
}
.iDetails{
    margin-right: 2%;
    width: 50%;
    padding-right: 1%;
    /* border: 2px solid; */
}
.oDetails{
    margin-right: 2%;
    width: 50%;
    /* border: 2px solid; */
}
.BorderCountries{
    display: flex;
    margin-top: 10%;
    align-items: center;
}
.bordercountry{
    margin-left: 2%;
    /* border: 1px solid; */
    padding: .5% 2.5%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

@media screen and (max-width:450px) {
    .backButton{
        margin: 10% 0 15% 0;
    }
    .Details{
        flex-direction: column;
        height: auto;
    }
    .flag{
        width: 100%
    }
    .flag img{
        width: 100%;
        height: 250px;
    }
    .NameDetails{
        width: 100%;
    }
    .DetailsInfo{
        flex-direction: column;
    }
    .iDetails{
        width: 100%;
        margin-bottom: 5%;
        /* border: 3px solid; */
    }
    .iDetails p{
        margin-bottom: 2%;
    }
    .oDetails{
        width: 100%;
    }
    .oDetails p{
        margin-bottom: 2%;
    }
    .BorderCountries{
        flex-direction: column;
        align-items: flex-start;
    }
    .border{
        width: 100%;
        display: flex;
        /* border: 3px solid; */
    }
    .bordercountry{
        margin: 2% 2%;
    }
}